@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body{
  font-family:  "Geist", sans-serif;
  background-color: #F8FAFC;
  min-height: 100vh;
}